/* KERNEST.COM WEB FONT CSS GENERATED FOR USE ON whyisrossbrown.com */

/* 
Tup Wanders Greenbeans Thin 
http://tup-wanders.kernest.com/../fonts/greenbeans-thin
Creative Commons 3.0 Attribution: http://creativecommons.org/licenses/by/3.0/
*/ 
 
@font-face {
	font-family: 'Greenbeans Thin';
	src: url('../fonts/greenbeans-thin.eot');
	src: local(''), url('../fonts/greenbeans-thin.woff') format('woff'), url('../fonts/greenbeans-thin.ttf') format('truetype'), url('http://kernest.com/embed/greenbeans-thin');
}
/* 
Divide By Zero Signal To Noise 
http://divide-by-zero.kernest.com/../fonts/signal-to-noise
Divide By Zero License: http://fonts.tom7.com/legal
*/ 
 
@font-face {
	font-family: 'Signal To Noise';
	src: url('../fonts/signal-to-noise.eot');
	src: local(''), url('../fonts/signal-to-noise.woff') format('woff'), url('../fonts/signal-to-noise.ttf') format('truetype'), url('http://kernest.com/embed/signal-to-noise');
}
/* 
Divide By Zero Resurgence 
http://divide-by-zero.kernest.com/../fonts/resurgence
Divide By Zero License: http://fonts.tom7.com/legal
*/ 
 
@font-face {
	font-family: 'Resurgence';
	src: url('../fonts/resurgence.eot');
	src: local(''), url('../fonts/resurgence.woff') format('woff'), url('../fonts/resurgence.ttf') format('truetype'), url('http://kernest.com/embed/resurgence');
}
/* 
Divide By Zero Two Turtle Doves 
http://divide-by-zero.kernest.com/../fonts/two-turtle-doves
Divide By Zero License: http://fonts.tom7.com/legal
*/ 
 
@font-face {
	font-family: 'Two Turtle Doves';
	src: url('../fonts/two-turtle-doves.eot');
	src: local(''), url('../fonts/two-turtle-doves.woff') format('woff'), url('../fonts/two-turtle-doves.ttf') format('truetype'), url('http://kernest.com/embed/two-turtle-doves');
}
/* 
Tension Type 2Dumb 
http://tension-type.kernest.com/../fonts/2dumb
Tension Type Font License: http://kernest.com/images/TensionTypeFontLicense.txt
*/ 
 
@font-face {
	font-family: '2Dumb';
	src: url('../fonts/2dumb.eot');
	src: local(''), url('../fonts/2dumb.woff') format('woff'), url('../fonts/2dumb.ttf') format('truetype'), url('http://kernest.com/embed/2dumb');
}
/* 
Tension Type 3Dumb 
http://tension-type.kernest.com/../fonts/3dumb
Tension Type Font License: http://kernest.com/images/TensionTypeFontLicense.txt
*/ 
 
@font-face {
	font-family: '3Dumb';
	src: url('../fonts/3dumb.eot');
	src: local(''), url('../fonts/3dumb.woff') format('woff'), url('../fonts/3dumb.ttf') format('truetype'), url('http://kernest.com/embed/3dumb');
}
/* 
Hiran Rufscript 
http://hiran.kernest.com/../fonts/rufscript
GNU General Public License: http://www.gnu.org/licenses/gpl-2.0.html
*/ 
 
@font-face {
	font-family: 'Rufscript';
	src: url('../fonts/rufscript.eot');
	src: local(''), url('../fonts/rufscript.woff') format('woff'), url('../fonts/rufscript.ttf') format('truetype'), url('http://kernest.com/embed/rufscript');
}
/* 
SJFonts Steve Hand 
http://sjfonts.kernest.com/../fonts/steve-hand
GNU General Public License: http://www.gnu.org/licenses/gpl-2.0.html
*/ 
 
@font-face {
	font-family: 'Steve Hand';
	src: url('../fonts/steve-hand.eot');
	src: local(''), url('../fonts/steve-hand.woff') format('woff'), url('../fonts/steve-hand.ttf') format('truetype'), url('http://kernest.com/embed/steve-hand');
}
/* 
Matthew Welch Fat Finger 
http://matthew-welch.kernest.com/../fonts/fat-finger
Matthew Welch License: http://www.squaregear.net/../fonts/
*/ 
 
@font-face {
	font-family: 'Fat Finger';
	src: url('../fonts/fat-finger.eot');
	src: local(''), url('../fonts/fat-finger.woff') format('woff'), url('../fonts/fat-finger.ttf') format('truetype'), url('http://kernest.com/embed/fat-finger');
}
/* 
Cheap Skate Fonts Domestic Manners 
http://cheap-skate-fonts.kernest.com/../fonts/domestic-manners
GNU General Public License: http://www.gnu.org/licenses/gpl-2.0.html
*/ 
 
@font-face {
	font-family: 'Domestic Manners';
	src: url('../fonts/domestic-manners.eot');
	src: local(''), url('../fonts/domestic-manners.woff') format('woff'), url('../fonts/domestic-manners.ttf') format('truetype'), url('http://kernest.com/embed/domestic-manners');
}
/* 
Philippe Cochy Pecita 
http://philippe-cochy.kernest.com/../fonts/pecita
SIL Open Font License: http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&item_id=OFL
*/ 
 
@font-face {
	font-family: 'Pecita';
	src: url('../fonts/pecita.eot');
	src: local(''), url('../fonts/pecita.woff') format('woff'), url('../fonts/pecita.otf') format('opentype'), url('http://kernest.com/embed/pecita');
}
/* 
Rotodesign Jinky 
http://rotodesign.kernest.com/../fonts/jinky
Freeware (Rotodesign): http://kernest.com/images/RotodesignLicense.txt
*/ 
 
@font-face {
	font-family: 'Jinky';
	src: url('../fonts/jinky.eot');
	src: local(''), url('../fonts/jinky.woff') format('woff'), url('../fonts/jinky.ttf') format('truetype'), url('http://kernest.com/embed/jinky');
}
/* 
Nyek! Pinoy Komiks Fonts AnuDaw 
http://nyek-pinoy-komiks-fonts.kernest.com/../fonts/anudaw
Freeware: http://en.wikipedia.org/wiki/Freeware
*/ 
 
@font-face {
	font-family: 'AnuDaw';
	src: url('../fonts/anudaw.eot');
	src: local(''), url('../fonts/anudaw.woff') format('woff'), url('../fonts/anudaw.ttf') format('truetype'), url('http://kernest.com/embed/anudaw');
}
/* 
Blue Vinyl Fonts Learning Curve Dashed 
http://blue-vinyl-fonts.kernest.com/../fonts/learning-curve-dashed
Blue Vinyl License: http://kernest.com/images/BlueVinylLicense.txt
*/ 
 
@font-face {
	font-family: 'Learning Curve Dashed';
	src: url('../fonts/learning-curve-dashed.eot');
	src: local(''), url('../fonts/learning-curve-dashed.woff') format('woff'), url('../fonts/learning-curve-dashed.otf') format('opentype'), url('http://kernest.com/embed/learning-curve-dashed');
}
/* 
Blue Vinyl Fonts Learning Curve 
http://blue-vinyl-fonts.kernest.com/../fonts/learning-curve
Blue Vinyl License: http://kernest.com/images/BlueVinylLicense.txt
*/ 
 
@font-face {
	font-family: 'Learning Curve';
	src: url('../fonts/learning-curve.eot');
	src: local(''), url('../fonts/learning-curve.woff') format('woff'), url('../fonts/learning-curve.otf') format('opentype'), url('http://kernest.com/embed/learning-curve');
}
/* 
Matthew Welch Never 
http://matthew-welch.kernest.com/../fonts/never
Matthew Welch License: http://www.squaregear.net/../fonts/
*/ 
 
@font-face {
	font-family: 'Never';
	src: url('../fonts/never.eot');
	src: local(''), url('../fonts/never.woff') format('woff'), url('../fonts/never.ttf') format('truetype'), url('http://kernest.com/embed/never');
}
/* 
SJFonts Delphine 
http://sjfonts.kernest.com/../fonts/delphine
GNU General Public License: http://www.gnu.org/licenses/gpl-2.0.html
*/ 
 
@font-face {
	font-family: 'Delphine';
	src: url('../fonts/delphine.eot');
	src: local(''), url('../fonts/delphine.woff') format('woff'), url('../fonts/delphine.ttf') format('truetype'), url('http://kernest.com/embed/delphine');
}
/* 
Nyek! Pinoy Komiks Fonts AnuDaw Italic 
http://nyek-pinoy-komiks-fonts.kernest.com/../fonts/anudaw-italic
Freeware: http://en.wikipedia.org/wiki/Freeware
*/ 
 
@font-face {
	font-family: 'AnuDaw';
	font-style: italic;	
	src: url('../fonts/anudaw-italic.eot');
	src: local(''), url('../fonts/anudaw-italic.woff') format('woff'), url('../fonts/anudaw-italic.ttf') format('truetype'), url('http://kernest.com/embed/anudaw-italic');
}
.greenbeans-thin {
 font-family: 'Greenbeans Thin';
	line-height: 140%;
	letter-spacing: 1px;
	}

.signal-to-noise {
 font-family: 'Signal To Noise';
	line-height: 140%;
	}

.resurgence {
 font-family: 'Resurgence';
	line-height: 140%;
	}

.two-turtle-doves {
 font-family: 'Two Turtle Doves';
	line-height: 140%;
	}

.2dumb {
 font-family: '2Dumb';
	line-height: 140%;
	}

.3dumb {
 font-family: '3Dumb';
	line-height: 140%;
	}

.rufscript {
 font-family: 'Rufscript';
	line-height: 140%;
	}

.steve-hand {
 font-family: 'Steve Hand';
	line-height: 140%;
	word-spacing: 8px;
	letter-spacing: 4px;
	}

.fat-finger {
 font-family: 'Fat Finger';
	line-height: 140%;
	}

.domestic-manners {
 font-family: 'Domestic Manners';
	line-height: 140%;
	}

.pecita {
 font-family: 'Pecita';
	line-height: 140%;
	}

.jinky {
 font-family: 'Jinky';
	line-height: 140%;
	letter-spacing: 4px;
	}

.anudaw {
 font-family: 'AnuDaw';
	line-height: 140%;
	}

.learning-curve-dashed {
 font-family: 'Learning Curve Dashed';
	line-height: 140%;
	}

.learning-curve {
 font-family: 'Learning Curve';
	line-height: 140%;
	}

.never {
 font-family: 'Never';
	line-height: 140%;
	}

.delphine {
 font-family: 'Delphine';
	line-height: 140%;
	word-spacing: 4px;
	letter-spacing: 2px;
	}

.anudaw-italic {
 font-family: 'AnuDaw';
	font-style: italic;
	line-height: 140%;
	}

