 /*KERNEST.COM WEB FONT CSS GENERATED FOR USE ON whyisrossbrown.com*/ 

 
/*Hiran Rufscript 
http://hiran.kernest.com/fonts/rufscript
GNU General Public License: http://www.gnu.org/licenses/gpl-2.0.html*/
 
 
@font-face {
	font-family: 'Rufscript';
	src: url('../fonts/rufscript.eot');
	src: local(''), url('../fonts/rufscript.woff') format('woff'), url('../fonts/rufscript.ttf') format('truetype');
}

 
/*Action Jackson
http://divide-by-zero.kernest.com/fonts/action-jackson
GNU General Public License: http://www.gnu.org/licenses/gpl-2.0.html*/
 
@font-face {
	font-family: 'Action Jackson';
	src: url('../fonts/action-jackson.eot');
	src: local(''), url('../fonts/action-jackson.woff') format('woff'), url('../fonts/action-jackson.ttf') format('truetype');
}

#machine {
  height: 350px;
  width: 640px;
  float: left;
  overflow: hidden;
  border-top: 2px ridge #654c18;  
  -webkit-box-shadow:2px 0 2px rgba(0,0,0,.5);
  -moz-box-shadow:2px 0 2px rgba(0,0,0,.5);  
}

#web, #music {
  float: left;
  overflow: hidden;  
}
#music {
  width: 319px;  
}
ul.showoff {
  margin: 0;
  padding: 0;
  width: 320px;
  float: left;
  position: relative;
  top: -306px;
  background-image: url(../images/shelf-bg.png);
}
h2.section {
  padding: 10px;
  height: 1.3em;
  margin: 0;
  background: #5993cf url(../images/h2_bg.png);
  display: block;
  border-right: 2px groove #75b0ee;
  border-bottom: 1px solid #3d84cd;
  position: relative;
  z-index: 50;  
  -webkit-box-shadow:0 6px 8px #000;
 -moz-box-shadow: #000 0 6px 8px;  
}
.shelf {
  height: 306px;
  overflow: hidden;
}

ul.showoff a {
  text-decoration: none;
}

ul.showoff li {
  list-style: none;
  margin: 0;
  clear: both;
  height: 105px;
  padding: 99px 0 0 0 ;
  cursor: pointer;
  background-image: url(../images/shelf.png);
  -webkit-box-shadow:0 0 8px rgba(0,0,0,.6);  
 -moz-box-shadow: #000 0 0 8px;  
}

ul.showoff a.project_link {
  display: block;
  cursor: pointer;
}

ul.showoff img.preview {
  width: 100px;
  /*float: left;*/
  display:inline;
  margin: 2px 10px 0 0;
  vertical-align: top;
}
ul.showoff .details {
  background: url(../images/tape.png) no-repeat;
  height: 42px;
  padding: 20px 18px 12px 96px;
  overflow: hidden;
  position: relative;
}
ul.showoff span.date {
  font-size: 14px;
}
ul.showoff h4{
  font-family: 'Rufscript', 'Marker Felt', 'Times New Roman', 'serif';
  margin: 0;
  font-size: 20px;
  line-height: 1.1em;
  color: #000;
  text-shadow: none;
}

#spotlight img.preview {
  text-align: center;
  margin: 0 auto;
  display: block;
  -webkit-box-shadow:0 2px 5px rgba(0,0,0,.5);
}

a#eject {
  border: 4px dashed rgba(256,256,256,.3);
  text-align: center;
  overflow: hidden;
  font-size: 18px;
  padding: 20px 30px;
  -webkit-border-radius:10px;
  -moz-border-radius: 10px;
  display: block;
  position: relative;
  margin: 0 auto -70px auto;
  width: 200px;
  height: 22px;
  font-family: 'Rufscript', 'Marker Felt', 'Times New Roman', 'serif';
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

br.clear {
  clear: both;
  line-height: 0;
  padding: 0;
  margin: 0;
}