body {
  font-family:
  	"Bookman Old Style",
    "Serifa BT",
    "URW Bookman L",
    "itc bookman";  
  font-size: 12px;
  background: #999;  
}
h1 {
  color: #fff;
  font-size: 5em;
  margin: .1em 0;
  font-family: 'Action Jackson'; 
}
#screen {
  width: 320px;
  height: 350px; 
  position: absolute; 
  background: #ccc;
  display: none;  
}
#showcase {
  background: #fff url(../images/white_noise.gif);
  width: 320px;
  height: 350px;  
  float: left;
  overflow: auto;
}
#showcase #spotlight {
  padding: 30px 30px;
  min-height: 290px;
  position: relative;
  z-index: 20;
  /*background: #ccc;*/
}

#showcase #screen-overlay {
  height: 350px;
  width: 320px;
  z-index: 0;
  position: absolute;
  background-image: url(../images/screen-overlay.png);
}

.roles {
  margin-top: 5px;
  padding: 4px 20px;	
  background: rgba(245,241,233,0.23);
}
.roles span {
  clear: both;
  display: inline-block;
  width: 24px;
  height: 18px;
  text-indent: -999em;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.TE {
  background-image: url(../images/roles/tracking.png);
}
.ME {
  background-image: url(../images/roles/mixing.png);
}
.M {
  background-image: url(../images/roles/musician.png);
}
.P {
  background-image: url(../images/roles/producer.png);
}
.D {
  background-image: url(../images/roles/designer.png);
}
.F {
  background-image: url(../images/roles/front-end.png);
}
.A {
  background-image: url(../images/roles/artist.png);
}

.clear {
  clear: both;
}